<b-navbar variant="dark" class="footer-distributed">
    <div class="footer-left">
        <p><img :src="marker" class="icon"/> Adresse:
            <span class="emphasise">Projektstrasse 777</span>
        </p>

        <p><img :src="envelope" class="icon"/> E-mail:
            <a href="mailto:support@company.com" class="emphasise">projekt@gmail.ru</a>
        </p>
    </div>
    <div class="footer-right">
        <p><span class="emphasise">Über App</span>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
</b-navbar>
