<loading>
  <div class="fixed-top vh-100 d-flex justify-content-center align-items-center" style="background: rgba(255, 255, 255, 0.5)">
    <div class="spinner-border" role="status">
      <span class="sr-only">Lädt...</span>
    </div>
  </div>
</loading>
