/* Temporary map background */
body {
	background-image: url(img/tempMap.png);
	background-repeat: repeat-y;
	background-size: 100%;
}

#content {
	height: 100%;
	width: 100%;
	padding: 20px;
}

#loginSpace {
	position: fixed;
	top: 20px;
	right: 30px;
	padding: 10px 20px;
	background-color: white
	;
}

#mapButtons {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

#menuImage {
    width: 30px;
    height: 35px;
}

#searchBar {
    width: 300px;
    padding-left: 5px;
}

#sidebar {
    position: fixed;
    margin-top: 75px;
    margin-left: 20px;
	min-width: 300px;
	max-width: 300px;
	top: 0;
	left: 0;
	z-index: 999;
	padding: 10px;
	background: #FCFCFC;
	color: #222;
	transition: all 0.3s;
	box-shadow: 7px 7px 5px #AAA;
}

#sidebar.closed {
	margin-left: -300px;
	/* removes shadow when closed */
	box-shadow: none;
}

.icon {
	display: block;
	text-indent: -9999px;
	width: 50px;
	height: 55px;
	background-size: 50px 55px;
}

#sidebar hr {
	border-top: 1px solid #8c8b8b;
}

.checkbox {
	top: .8rem;
	width: 1.15rem;
	height: 1.15rem;
}
